{{> header}}
<table role="presentation" width="100%" cellpadding="0" cellspacing="0"><tr><td style="padding:24px;font:400 14px/1.8 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial;color:#111827">
  <p>Bonjour {{#if firstName}}{{firstName}}{{else}}utilisateur(trice){{/if}},</p>
  <p>Votre mot de passe a été modifié avec succès. Si vous n'êtes pas à l'origine de ce changement, contactez le support immédiatement.</p>
</td></tr></table>
{{> footer}}
